<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html">
	<title>Portal de notícias</title>
</head>

<body>

	<h1>Notícia</h1>

</body>

</html>